:root {
    --hover-color: rgba(142, 142, 142, 0.5);
    --hover-color-dark: rgba(142, 142, 142, 0.8);
    --box-shadow: inset 2px 2px 10px var(--hover-color);
    --box-shadow-dark: inset 2px 2px 10px var(--hover-color),
        2px 2px 10px var(--hover-color-dark);
}

.auth-container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from-container-introduction {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
}

.from-container-title {
    font-size: 40px;
}

.from-container-description {
    font-size: 20px;
}

.form-input {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-bottom: 25px;
}

.form-input > input[type="text"],
.form-input > input[type="password"] {
    width: 50%;
    font-size: 25px;
    height: 40px;
    padding: 10px 20px 10px 5px;
    border: none;
    margin-left: 20px;
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease-in-out;
}

.form-input > input[type="text"]::placeholder,
.form-input > input[type="password"]::placeholder {
    text-align: center;
}

.form-input > input[type="text"]:hover,
.form-input > input[type="password"]:hover {
    box-shadow: var(--box-shadow-dark);
}

.form-input > input[type="text"]:focus,
.form-input > input[type="password"]:focus {
    outline: none;
}

.form-input > input[type="radio"] {
    margin-bottom: 10px;
    accent-color: rgb(228, 96, 2);
}

.form-input-checkbox {
    width: 20px;
    height: 20px;
}

#checkbox_user {
    height: 20px;
}

.form-input > label {
    width: 50%;
    padding: 10px 20px;
    font-size: 30px;
}

.form-input {
    width: 100%;
    min-width: none;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.auth-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}

.auth-submit {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.auth-redirection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 50%;
}

.auth-redirection > p {
    font-size: 22px;
}

.auth-submit-btn,
.auth-redirection-btn {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;

    box-shadow: var(--box-shadow);
    transition: all 0.25s ease-in-out;
}

.auth-submit-btn {
    width: 90%;
}

.auth-submit-btn:hover,
.auth-redirection-btn:hover {
    padding: 20px;
    box-shadow: var(--box-shadow-dark);
}

@media (max-width: 850px) {
    .from-container-title {
        font-size: 30px;
    }

    .from-container-description {
        font-size: 15px;
    }
}

@media (max-width: 730px) {
    .form-input {
        display: grid;
        grid-template-columns: auto auto auto;
        height: 100px;
    }

    .form-input > label {
        grid-column: span 3;

        width: 100%;
        margin-bottom: 10px;
        padding: 0;

        text-align: start;
        font-size: 20px;
    }

    .form-input > input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-input > input[type="text"]::placeholder,
    .form-input > input[type="password"]::placeholder {
        font-size: 20px;
    }

    .form-input > input[type="password"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .auth-options {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .auth-options > * {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        width: 100%;
    }

    .auth-submit-btn,
    .auth-redirection-btn {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .formContainer {
        width: 80%;
    }

    .from-container-title,
    .from-container-description {
        margin-bottom: 10px;
    }

    .form-input > label {
        font-size: 17px;
    }

    .form-input > input[type="text"],
    .form-input > input[type="password"] {
        font-size: 17px;
    }

    .form-input > input[type="text"]::placeholder,
    .form-input > input[type="password"]::placeholder {
        font-size: 17px;
    }

    .auth-submit-btn,
    .auth-redirection-btn {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .from-container-title {
        font-size: 23px;
    }

    .from-container-description {
        font-size: 17px;
    }
}

@media (max-width: 400px) {
    .auth-redirection > p {
        font-size: 17px;
    }
}
