.container {
    display: flex;
}

.requests {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px;
}

.requests-header {
    display: flex;
    gap: 20px;
    cursor: pointer
}

.requests-header button {
    background-color: white;
    border: none
}

.text-container {
    display: flex;
    justify-content: flex-start;
}

.text-env {
    width: 100%;
    min-width: 250px;
    margin: 20px 0;
    padding: 10px;
    border: none;
    background: transparent;
    box-shadow: 1px 1px 2px gray;

    transition: all 0.3s ease-in-out;
}

.text-env:hover {
    padding: 15px;
}

.text-env:active {
    border: 0.5px solid;
}

.show-requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.request-section {
    display: flex;
    flex-direction: column;
}
