.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    margin: 20px;
    font-size: 30px;
}

/* .btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
} */

.buttons_request {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdowns {
    display: flex;
    flex-wrap: wrap;

}

.introduction-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
}

@media (max-width: 1250px) {
    .dropdowns {
        flex-wrap: wrap;
    }
}

@media (max-width: 880px) {
    .introduction {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .introduction {
        font-size: 12px;
    }
}