.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}

.content {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-login {
    min-width: 55%;

    padding: 15px 20px;
    border: transparent;
    box-shadow: 0.5px 0.5px 2px gray;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s padding ease-in-out;
}

.btn-login:hover {
    padding: 20px 25px;
    background-color: transparent;
}

@media (max-width: 1200px) {
    .content {
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    .btn-login {
        min-width: 60%;
    }
}
